body {
  background-color: rgb(52, 122, 235, 0.5);
  background-size: cover;
  opacity: 0.99;
}
figure {
  margin-block-start: 0;
  margin-inline-start: 0;
}

figure img {
  width: 18em;
  height: 12em;
  overflow: auto;
}

figure figcaption {
  float: left;
  padding-right: 2em;
}

.sliders p {
  display: inline-block;
}

#nettoWinst {
  font-weight: bold;
  font-size: 20px;
}

#untilNextColour,
#moneyUntilNextColour {
  display: none;
}

.left {
  float: inline-start;
  display: block;
}

#right {
  float: inline-end;
}
